<svg 
	xmlns:svg="http://www.w3.org/2000/svg" 
	xmlns="http://www.w3.org/2000/svg" 
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	viewBox="0 0 250 150" width="250" height="150" id="svg2985">
	<defs>
		<linearGradient xlink:href="#63" id="linearGradient7350" gradientUnits="userSpaceOnUse" x1="569.77" x2="338.44" y1="-30.6" y2="-30.6"/>
		<linearGradient x1="386.3" x2="612.19" id="65" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.0251 0 0 .6548-57.921-12.857)">
			<stop id="stop4635" stop-color="#a6a19d"/>
			<stop id="stop4637" offset=".21" stop-color="#bfbfbf"/>
			<stop id="stop4639" offset=".505" stop-color="#f3f3f3"/>
			<stop id="stop4641" offset=".807" stop-color="#c9c9c9"/>
			<stop id="stop4643" offset=".874" stop-color="#afacaa"/>
			<stop id="stop4645" offset=".955" stop-color="#938d89"/>
			<stop id="stop4647" offset="1" stop-color="#89827d"/>
		</linearGradient>
		<linearGradient x1="569.77" x2="338.44" id="64" gradientUnits="userSpaceOnUse" y1="-30.6" y2="-30.6">
			<stop id="stop3415" stop-color="#89827d"/>
			<stop id="stop3417" offset=".538" stop-color="#98a09f"/>
			<stop id="stop3419" offset="1" stop-color="#575757"/>
		</linearGradient>
		<linearGradient x1="338.44" x2="569.77" id="61" gradientUnits="userSpaceOnUse" y1="-30.6" y2="-30.6">
			<stop id="stop3487" stop-color="#89827d"/>
			<stop id="stop3489" offset=".161" stop-color="#bfbfbf"/>
			<stop id="stop3491" offset=".511" stop-color="#e0e0e0"/>
			<stop id="stop3493" offset=".817" stop-color="#c9c9c9"/>
			<stop id="stop3495" offset=".881" stop-color="#afacaa"/>
			<stop id="stop3497" offset=".958" stop-color="#938d89"/>
			<stop id="stop3499" offset="1" stop-color="#89827d"/>
		</linearGradient>
		<linearGradient x1="569.77" x2="338.44" id="62" gradientUnits="userSpaceOnUse" y1="-30.6" y2="-30.6">
			<stop id="stop3446" stop-color="#bfbfbf"/>
			<stop id="stop3448" offset=".017" stop-color="#c6c6c6"/>
			<stop id="stop3450" offset=".103" stop-color="#e7e7e7"/>
			<stop id="stop3452" offset=".15" stop-color="#f3f3f3"/>
			<stop id="stop3454" offset=".5" stop-color="#89827d"/>
			<stop id="stop3456" offset=".85" stop-color="#98a09f"/>
			<stop id="stop3458" offset="1" stop-color="#575757"/>
		</linearGradient>
		<linearGradient xlink:href="#63" id="linearGradient7348" gradientUnits="userSpaceOnUse" x1="615.17" x2="383.84"/>
		<linearGradient xlink:href="#63" id="linearGradient7344" gradientUnits="userSpaceOnUse" x1="615.17" x2="383.84"/>
		<linearGradient xlink:href="#63" id="linearGradient7346" gradientUnits="userSpaceOnUse" x1="615.17" x2="383.84"/>
	</defs>
	
	<g fill="grey"
     transform="
                translate(-338 -0)
                scale(1 1)">
		<path d="m338.4 20.8h231.3v117.3h-231.3z" id="path8680" fill="url(#61)"/>
		<path d="m338.4 20.8h231.3v1.6h-231.3z" id="path8682" fill="url(#62)"/>
		<g id="g8684" transform="translate(-45.4-30.6)" fill="url(#linearGradient7348)">
			<path d="m383.8 109.9h231.3v1.3h-231.3z" id="path8686" fill="url(#linearGradient7344)"/>
			<path d="m383.8 138.6h231.3v1.3h-231.3z" id="path8688" fill="url(#linearGradient7346)"/>
		</g>
		<path d="m338.4 136.8h231.3v1.3h-231.3z" id="path8690" fill="url(#64)"/>
		<path d="m338.1 20.8l115.7-20.2 115.8 20.2z" id="path8692" fill="url(#65)"/>
		<path d="m338.4 50.6h231.3v1.3h-231.3z" id="path8694" fill="url(#linearGradient7350)"/>
	</g>
	
	<g>
		<path d="M30 132 V26 H42 V132 Z" stroke="grey"/>
		<path d="M30 132 V26 H42 V132 Z" fill="White"/>
	</g>
	<g>
	<!-- add to y sub from height
	y must equal cy 
	Max y = cy = 28, height = 104
	Min y = cy = 128, height = 4, calculate percentage and add to base 
	-->
		<rect    x="30"  [attr.y]="100 - tank.percentage + 28" width="12" [attr.height]="4 + tank.percentage" [attr.fill]="waterColor" />
		<circle cx="32" [attr.cy]="100 - tank.percentage + 28" r="1.5" stroke="White" fill="White" />
		<circle cx="36" [attr.cy]="100 - tank.percentage + 28" r="1.5" stroke="White" fill="White" />
		<circle cx="40" [attr.cy]="100 - tank.percentage + 28" r="1.5" stroke="White" fill="White" />

		<text x="100" y="70" fill="Black">{{ tank.percentage }}%</text>
	</g>
</svg>
<div>
	<div  *ngIf="editing">
		<input type="text" [value]="tank.name" (input)="onNameChange(name.value)" #name>
		<input type="text" [value]="tank.diameter" (input)="onDiameterChange(diameter.value)" #diameter>
		<input type="text" [value]="tank.height" (input)="onHeightChange(height.value)" #height>
	</div>

	<div *ngIf="!editing">
		{{ tank.name }}
	</div>
	<div>
		{{ tank.available }} litres
	</div>	

	<button (click)="onToggleEdit()">{{ editing ? 'Save' : 'Edit'}}</button>
</div>